<h1>{{ pageName }}</h1>
  <select ng-model="filter.country">
    <option ng-repeat="country in countries" value="{{ country.name }}">{{ country.name }}</option>
  </select>
  <a ng-href="#" ng-click="new()" class="btn btn-primary pull-right">Create New Tour</a>
<hr>
<div class="row-fluid content-block">
  <form ng-Show="showForm">
    <div class="form-group col-md-4 col-md-offset-4">
      <label for="title">Title:</label><br />
      <input name="title" id="title" class="form-control" ng-model="newTour.title"><br />
      <label for="country">Country:</label><br />

      <select ng-model="newTour.country" ng-options="country.name as country.name for country in countries track by country.name" class="form-control"></select>
      <br />

      <label for="text">Text:</label><br />
      <textarea name="text" id="text" class="form-control" ng-model="newTour.description"></textarea><br />
      <label for="price">Price:</label><br />
      <input name="price" id="price" class="form-control" ng-model="newTour.price"><br />
      <button ng-click="create()" class="btn btn-primary">Save</button>
      <button ng-click="cancelNewTour()" class="btn btn-warning">Cancel</button>
    </div>
  </form>
  <div class="tours-list-block col-md-12">
    <div ng-repeat="tour in tours | filter:{'country': filter.country} track by $index" class="tour-block media">
      <a class = "pull-left" href = "#">
        <img class = "media-object" ng-src = "/public/images/foto_not_found.jpeg" alt = "Media Object">
      </a>

      <div ng-show="tour.isModified==false" class="tour-content-block media-body">
          <h4 class="media-heading tour-title">
            <a ng-href="/#/tour/{{tour.slug}}">{{tour.title}}</a>
          </h4>
          <div class="tour-country">{{tour.country}}</div>
          <div class="tour-price">{{tour.price}}</div>
          <div class="tour-text">{{tour.description}}</div>
          <button ng-click="edit(tour)" class="btn btn-success">Edit Tour</button>
          <button ng-click="destroy($index)" class="btn btn-danger">Delete Tour</button>
      </div>
      <div ng-show="tour.isModified==true" class="media-body">
        <input ng-model="tour.title" class="form-control">
        <input ng-model="tour.country" class="form-control">
        <input ng-model="tour.price" class="form-control">
        <textarea ng-model="tour.description" class="form-control"></textarea><br />
        <button ng-click="update(tour)" class="btn btn-success">Save</button>
        <button ng-click="cancelEdit(tour)" class="btn btn-warning">Cancel</button>
      </div>
    </div>
  </div>
</div>

